@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  
  /* .carousel .control-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
  } */
  .carousel .control-arrow::before {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Circular shape */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Arrow color */
  } */
  
  /* Positioning the arrows */
  .carousel .control-prev.control-arrow {
    left: 15px;
    top:30px;
  }
  
  .carousel .control-next.control-arrow {
    right: 15px;
    top:30px;
  }
  .carousel .control-arrow {
    /* background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    /* border-radius: 50%; /* Circular shape */
    /* width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease; */ 
  }
  
  .cardsh {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .side-menu {
    border-right: 1px solid #ddd;
  }
  
  .corresponding-card {
    
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }